.full{
    width: 100%;
    background-color: darkcyan;
}

.home-container{
    width: 100%;
    height: 160vh;
    background-image: url('../../images/ban4.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}


@media screen and (max-width:700px){
    .home-container{
        
    }
}