.full{
    width: 100%;
}

.home-container{
    width: 100%;
    height: 140vh;
    background-image: url('../../images/ban4.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    display: flex;
}

.home-content{
    text-align: left;
    margin-top: 200px;
    color: #fff;
    margin-left: 30px;
}

.home-content h1{
    font-size: 47px;
    margin-bottom: 20px;
}

.home-content p{
    line-height: 25px;
    font-weight: 700;
}

.content-btn{
    margin-top: 20px;
}

.view{
    background-color: #C4C3C3;
    color: #000;
    outline: none;
    border: none;
    border-radius: 20px;
    height: 40px;
    width: 120px;
    margin-right: 40px;
    cursor: pointer;
    transition: 0.5s;
}

.view:hover{
    background-color: #fff;
}

.order{
    background-color: #871418;
    color: #fff;
    outline: none;
    border: none;
    border-radius: 20px;
    height: 40px;
    width: 120px;
    margin-right: 40px;
    cursor: pointer;
    transition: 0.5s;
}

.order:hover{
    background-color: #b61e23;
}

/*-------pizza container------*/

.pizza-container{
    width: 100%;
    height: 140vh;
    background-color: #871418;
    background-image: url('../../images/pizza2.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    display: flex;
    justify-content: flex-end;
}

.pizza-content{
    text-align: right;
    margin-top: 120px;
    color: #fff;
    margin-right: 30px;
}

.pizza-content h1{
    font-size: 47px;
    margin-bottom: 20px;
}

.pizza-content p{
    line-height: 25px;
    font-weight: 700;
}

.pizza-btn{
    margin-top: 20px;
}

.pizza-view{
    background-color: #C4C3C3;
    color: #000;
    outline: none;
    border: none;
    border-radius: 20px;
    height: 40px;
    width: 120px;
    margin-left: 40px;
    cursor: pointer;
    transition: 0.5s;
}

.pizza-view:hover{
    background-color: #fff;
}

.pizza-order{
    background-color: #871418;
    color: #fff;
    outline: none;
    border: none;
    border-radius: 20px;
    height: 40px;
    width: 120px;
    margin-left: 40px;
    cursor: pointer;
    transition: 0.5s;
}

.pizza-order:hover{
    background-color: #b61e23;
}

/*----------about content----------*/

.about-container{
    width: 100%;
    height: 140vh;
    background-color: #871418;
    background-image: url('../../images/background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    display: flex;
    
    flex-direction: column;
}

.about-content{
    text-align: right;
    margin-top: 120px;
    color: #fff;
    margin-right: 30px;
}

.about-content h1{
    font-size: 47px;
    margin-bottom: 20px;
}

.about-content p{
    line-height: 25px;
    font-weight: 700;
}

.about-btn{
    margin-top: 20px;
}

.about-direct{
    background-color: #C4C3C3;
    color: #000;
    outline: none;
    border: none;
    border-radius: 20px;
    height: 40px;
    width: 120px;
    margin-left: 40px;
    cursor: pointer;
    transition: 0.5s;
}

.about-direct:hover{
    background-color: #fff;
}

.about-icons{
    background-color: #fff;
    width: 600px;
    height: 60px;
    margin-left: 80px;
    margin-top: 40px;
}
