.product-full{
    width: 100%;
}
.product-container{
    width: 100%;
    padding: 10px;
    margin-top: 120px;
}

.product-row{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin-top: 40px;
    justify-content: center;
}

.product-card{
    max-width: 240px;
    width: 100%;
    overflow: hidden;
    height: 340px;
    margin: 30px;
    cursor: pointer;
    border-radius: 10px;
    background: #fff;
    box-shadow: 0 0 5px #ccc;
}


.product-card img{
    width: 100%;
    height: 100%;
    max-height: 180px;
    display: block;
    object-fit: cover;
}

.card-details{
    margin: 10px;
}

.find-items{
    background: #e1ad01;
    font-size: 18px;
    color: #000;
    text-align: center;
    margin-top: 15px;
    margin-left: 0px;
    border: none;
    height: 35px;
    width: 100%;
    border-radius: 10px;
    transition: 0.5s;
    cursor: pointer;
}

.product-head{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.product-head h1{
    margin-bottom: 10px;
    font-weight: 800;
}

.product-head .input-area input{
    width: 400px;
    height: 30px;
    padding-left: 5px;
    border: 1px solid #ccc;
    outline: none;
    box-shadow: 5px 5px 10px #ccc;
    border-radius: 5px;
    margin-right: 10px;
}

.product-head .input-area button{
    width: 80px;
    height: 30px;
    background-color: darkorange;
    outline: none;
    border: none;
    border-radius: 5px;
    margin-left: 10px;
    cursor: pointer;
}

@media screen and (max-width:700px) {
    .product-head .input-area input{
        width: 200px;
    }
}